@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap');

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.screen-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left:0;
    background-image: url("https://segmed-dev.s3-us-west-1.amazonaws.com/math-in-motion/cyberpunk.png")
}

#canvas {
    margin: 50px;
    margin-left: 30px;
    margin-right:20px;
    border: 1px solid white;
    border-radius: 5px;
    opacity: 0.9;
    width: 50%;
    height: 603px;
    background-color: black
}

.background {
    padding: 25px;
    margin: 10px;
    margin-left: 20px;
    background-color: black;
    width: 40%;
    opacity: 0.9;
    height: 603px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
}

.title {
    color: white;
    font-family: 'Exo', sans-serif;
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px
}

.intro {
    color: white;
    font-family: 'Exo', sans-serif;
    font-weight: lighter;
    font-size: 18px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons {
    width: 35px;
    height: 35px;
}

.icons-a {
    width: 35px;
    height: 35px;
    position: relative;
    left: 10%
}

.icon-link {
    display: inline-block
}

.icons-a:hover {
    position: relative;
    top: 2px;
}

.icons:hover {
    position: relative;
    top: 2px;
}

.link-space {
    display: flex;
    min-width: 200px;
    justify-content: space-around;
    margin-left: 15px;
    z-index: 99;
}

#musicApp {
    outline: none;
}

.credit {
    color: white;
    font-family: 'Exo', sans-serif;
    font-weight: lighter;
}

.credit-div {
    margin-top: 20px;
    display: flex;
    flex-direction: column
}

.music-div {
    display: flex;
    justify-content: center;
}

.background-div {
    width: 100%;

}

.slider-div {
    display: flex;
    flex-direction: column;
    align-items: center
}

.labels {
    color: white;
    font-family: 'Exo', sans-serif;
}

.labels-twist {
    color: white;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
}

.labels-frame {
    color: white;
    font-family: 'Exo', sans-serif;
    padding-left: 5px;
}

.labels-lime {
    color: #00FFFF;
    font-family: 'Exo', sans-serif;
}

.frame-num {
    color: red; 
}

.labels-X {
    position:relative;
    bottom: 12px;
    right: 70px;
}

.labels-Y {
    position:relative;
    bottom: 12px
    /* position: relative;
    top: 38px; */
}

.input-container {
    display: flex;
    justify-content: space-around;
}

.update-changes {
    width: 145px;
    font-family: 'Exo', sans-serif;
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
}

.update-changes:hover {
    cursor: pointer;
    background-color: rgb(242, 242, 242)
}

.run {
    width: 145px;
}

.buttons {
    display: flex;
}

.frame-div {
    display: flex;
    position: relative;
    left: 15px;
}

.select-func {
    width: 120px;
}

.options {
    text-align: center;
}

.options-div {
    display: flex; 
    justify-content: center;
}

.slider-X {
    fill: yellow;
    stroke: none;
}

.slider-Y {
    fill: red;
}

.horizontal-line {
    width: 30vw;
    height: .01px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    margin-bottom:30px;
    margin-top: 20px;
}

.graph-select {
    width: 140px;
    background-color: white;
    color: black;
    position: absolute;
    z-index: 3;
    margin-top: 43px;
    border-radius: 2px;
    padding: 5px;
}

.graph-li {
    list-style: none;
    font-family: 'Exo', sans-serif;
    font-size: 15px;
    padding: 3px;
}

.graph-li:hover {
    cursor: pointer;
    background-color: rgb(242, 242, 242);
}

.graph-header{
    background-color: white;
    display: flex;
    justify-content: space-around;
    width: 140px;
    padding: 5px;
    border-radius: 5px;
}

.graph-header:hover {
    cursor: pointer;
    background-color: rgb(242, 242, 242)
}

.graph-wrapper {
    display: flex;
    justify-content: center;
}

.graph-title {
    display: flex;
    align-items: center;
    font-family: 'Exo', sans-serif;
    font-size: 15px;
}

.slider-div2 {
    padding: 10px;
}

.slider-formula {
    display: flex;
    justify-content: space-around;
    align-items: center
}

.input-slider {
    margin-left: 30px;
}

.math-formula {
    display: inline-block;
    font-size: 20px;
    /* height: 2%; */
    position: relative;
    width: 50%;
    /* padding-right: 50px; */
    padding-bottom: 30px;
    color: white;
}

.math-formula-twists {
    padding: 15px;
}

#twists {
    position: relative;
    bottom: 20px;
}

.slider-formula-parent {
    text-align: center;
    padding-top: 20px
}

.slider-formula-parent-dSin {
    text-align: center;
    padding-top: 15px
}

.var {
    color: white;
    font-family: 'Exo', sans-serif;
    height: 10px;
    width: 10px;
    padding-left: 5px;
}

.var-div {
    color: white;
    font-family: 'Exo', sans-serif;
    height: 10px;
    display: flex;
    justify-content: center;
}

.slider-formula-frame {
    position: relative;
    bottom: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center
}

.select-formula {
    display: flex;
    flex-direction: column;
}

.select-formula-parent {
    /* position: relative;
    right: 40px; */
    padding-top: 20px;
}

.var-radio-div-vader {
    display: flex;
    /* width: 190px; */
    justify-content: center;

}

.var-radio-div {
    display: flex;
    /* width: 170px; */
    justify-content: center;

}

.radio {
    position: relative;
    bottom: 5px;
    margin-right: 5px;
}

#update-id {
    margin-top: 20px;
}

#width-formula {
    width: 100%;
}

.disabled-button {
    pointer-events: none;
    background-color: rgb(102, 102, 102)
}