@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap');

.screen-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left:0;
    background-image: url("https://toasty-dev.s3-us-west-1.amazonaws.com/cyberpunk.png")
}

#canvas {
    margin: 50px;
    border: 1px solid white;
    border-radius: 5px;
    opacity: 0.9;
    width: 50%;
    height: 50%;
    background-color: black
}

#canvas:hover {
    cursor: pointer;
}

.background {
    padding: 25px;
    margin: 3%;
    background-color: black;
    display: inline-block;
    width: 40%;
    opacity: 0.9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    font-family: 'Exo', sans-serif;
}

.intro {
    color: white;
    font-family: 'Exo', sans-serif;
    font-weight: lighter;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons {
    width: 35px;
    height: 35px;
}

.icons-a {
    width: 35px;
    height: 35px;
    position: relative;
    left: 10%
}

.icon-link {
    display: inline-block
}

.icons-a:hover {
    position: relative;
    top: 2px;
}

.icons:hover {
    position: relative;
    top: 2px;
}

.link-space {
    display: flex;
    min-width: 200px;
    justify-content: space-around;
    margin-left: 15px;
}

#musicApp {
    outline: none;
}

.credit {
    color: white;
    font-family: 'Exo', sans-serif;
    font-weight: lighter;
}

.credit-div {
    margin-top: 20px;
    display: flex;
    flex-direction: column
}

.music-div {
    display: flex;
    justify-content: center;
}

.background-div {
    position: relative;
    bottom: 15px;
}

#bar {
    background-color: red;
    color: white;
    z-index: 99
}